$color-slabel : #3F4739;
$color-border : #3F4739;
$color-plabel : #877B66;
$color-tertiary : #AFC97E;
$color-error : #D9594C;
$form-element--disabled : #E2D686;
$form-element--disabledText : #E2D686;
$common-space : 20px;

.input-wrapper {
    $self: &;
    &--isResponsive {
        min-height: 18px;
        display: flex;
        flex-direction: column;
        width: 100%;

        @media only screen and (min-width: 980px) {
            flex-direction: row;
        }
    }

    &--isHorizontal {
        display: flex;
        align-items: baseline;
    }

    &__label {
        display: block;
        width: 150px;
        color: $color-slabel;
        font-size: 15px;
        margin-bottom: $common-space/2.5;
        text-align: left;
        padding-left: 10px;

        &--isResponsive {
            padding: 10px 0px;
            padding-right: 15px;
            @media only screen and (min-width: 980px) {
                width: 360px;
            }
        }
    }

    &__input {
        border: solid 1px $color-border;
        border-radius: 18px;
        width: 100%;
        height: 18px;
        padding: 10px;
        color: $color-plabel;
        font-size: 20px;
        &:focus {
            outline: none;
            border-color: $color-tertiary;
        }

        &--isResponsive {
            width: 100%;
            text-align: left;
        }
    }

    &--inValid {
        input {
            border-color: $color-error;
        }
    }

    input:required {
    }

    input:read-only {
    }

    input:disabled {
        background: $form-element--disabled;
        color: $form-element--disabledText;
    }

    + .input-wrapper {
        margin-top: 20px;
    }

    form {
        display: inline;
    }
}

.notification--err {

}