$elementHeight: 28px;
$defaultFontSize: 15px;
$common-space: 20px;

$color-primary: #AFC97E;
$color-primary-hover: #D4E6B5;

.button {
    border-radius: $elementHeight;
    color: white;
    background-color: $color-primary;
    border-color: $color-primary;
    height: $elementHeight;
    font-size: $defaultFontSize;
    font-weight: bold;
    outline: none;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    padding: $common-space/4 $common-space;
    text-align: center;

    &--loading {
        text-align: center;
    }
    
    &:disabled {
        opacity: 0.75;
        cursor: not-allowed;
        pointer-events: none;
    }

    &:hover {
        background-color: $color-primary-hover;
        border-color: $color-primary-hover;
    }
    
    + .esg-button {
        margin-left: 5px;
    }
}
