.login {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__input {
    width: 350px;
    //height: 200px;
  }

  &__button {
    margin-top: 20px;
    width: 350px;
    display: flex;
    justify-content: end;
  }
}