$darkBrown: #1F0D02;
$beige: #F4E5D4;
$orange: #EC6214;

/** Primary Color */
$color-primary: $orange !default;

/** Background Color*/
$color-body: $beige !default;

/** Primary Label Color */
$color-plabel: $darkBrown !default;
$color-plabel-inverted: $beige !default;