@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=Nobile&display=swap');

h1, h2, h3, h4 {
    font-family: 'Corben', cursive;
    font-weight: 700;
}

h4 {
    font-weight: 400 !important;
}

p, span, ul, li {
    font-family: 'Nobile', sans-serif;
}